<tr id='trade-<%= trade.order_id %>'>
  <td class="text-muted"><%= format_dapp_datetime(trade.formatted_timestamp) %></td>
  <td><%= trade.token_amount %></td>
  <td class="<%= trade.trade_direction_class %>"><%= trade.token_price %></td>
</tr>