<h4>My Trades</h4>

<table id='my-trades'>
	<tr>
		<th>Time</th><th>Dapp</th><th>DAPP/ETH</th>
	</tr>
	<% @my_trades.each do |trade| %>
	  <tr id='my-trade-<%= trade[:orderId] %>'>
	  	<td><%= trade[:formattedTimestamp]%></td>
			<td><%= trade[:orderSign]%><%= trade[:tokenAmount] %></td>
			<td><%= trade[:tokenPrice] %></td>
	  </tr>
	<% end %>
</table>