<div class="vertical">
	<div class="card bg-dark text-white">
		<div class="card-header">Order Book</div>
		<div class="card-body order-book">
			<table id='order-book' class="table table-dark table-sm small dapp-table">
				<tbody>
					<% @sell_orders.each do |order| %>
					  <tr id="sell-order-<%= order[:orderId] %>" data-action="click->order-fill#click" data-controller="order-fill", data-order-fill-url="<%= order_fill_url(order_id: order[:orderId]) %>" data-order-id="<%= order[:orderId] %>" class='order-book-order buy-order'>
						  <td><%= order[:tokenAmount]%></td>
							<td class='text-danger'><%= order[:tokenPrice] %></td>
							<td><%= order[:etherAmount] %></td>
					  </tr>
					<% end %>
					<tr>
						<th>DAPP</th>
						<th>DAPP/ETH</th>
						<th>ETH</th>
					</tr>
					<% @buy_orders.each do |order| %>
					  <tr id="buy-order-<%= order[:orderId] %>" class='order-book-order'>
						  <td><%= order[:tokenAmount]%></td>
							<td><%= link_to order[:tokenPrice], order_fill_path(order_id: order[:orderId]), method: :put, data: {order_id: order[:orderId]}, class: 'text-success sell-order', title: 'Click here to sell' %>
					</td>
							<td><%= order[:etherAmount] %></td>
					  </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>