<h2>DAPP</h2>

<table>
	<tr><th>Address:</th><td><%= @account %></td></tr>
</table>
<br />

<table>
	<tr>
		<th>Account</th>
		<th>Wallet</th>
		<th>Exchange</th>
	</tr>
	<tr>
		<th>ETH</th>
		<th><%= @ether_balance %></th>
		<th id='exchange-ether-balance'><%= @exchange_ether_balance %></th>
	</tr>
	
	<tr>
		<th>DAPP</th>
		<th><%= format_token_balance(@token_balance) %></th>
		<th id='exchange-token-balance'><%= format_token_balance(@exchange_token_balance) %></th>
	</tr>
</table>

<h2>Deposits</h2>
<%= render partial: 'new_ether_deposit' %>
<%= render partial: 'new_token_deposit' %>

<h2>Trades</h2>

<table id='my-trades'>
	<tr>
		<th>Time</th><th>Dapp</th><th>DAPP/ETH</th>
	</tr>
	<% @trades.each do |trade| %>
	  <tr id='my-trade-<%= trade[:orderId] %>'>
	  	<td><%= trade[:formattedTimestamp]%></td>
			<td><%= trade[:orderSign]%><%= trade[:tokenAmount] %></td>
			<td><%= trade[:tokenPrice] %></td>
	  </tr>
	<% end %>
</table>

<h2>Trades</h2>

<%= render partial: 'new_buy_order' %>

<%= render partial: 'new_sell_order' %>

<%= render partial: 'order_book' %>